<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Liste des dépenses'">
        <!-- <div class="row col-12 mb-3"> -->
          <!-- <label for="searchbar" class="col col-form-label">Recherche</label>
          <div class="col">
            <input (change)="onSearch(search.value)" type="text" class="form-control" id="searchbar" #search="ngModel" ngModel>
          </div> -->
          <!-- <div class="col">
            <button type="button" 
              class="btn btn-dark"
              (click)="onSearch(search.value)">Rechercher</button>
          </div> -->
          <!-- <div class="col align-items-end "> -->
            <button type="button" 
              class="btn btn-success float-right mb-3"
              (click)="toNewExpense()"><i class="icofont icofont-plus"></i>Nouvelle dépense</button>
          <!-- </div> -->
        <!-- </div> -->
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Montant</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data">
                    <td>{{d.title}}</td>
                    <td>{{d.amount}}</td>
                    <td>{{d.type == 0 ? "Fixe" : "Autre"}}</td>
                    <td>
                      {{d.date | date: 'dd/MM/yyyy'}}
                    </td>
                    <td class="text-right">
                        <button class="btn btn-secondary mr-1" (click)="toModify(d._id)">Modifier</button>
                        <button class="btn btn-danger" (click)="deleteExpense(d._id)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
          </table>
      </app-card>
    </div>
  </div>