<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Mise à jour dépense'">
        <form class="row g-3"
            (ngSubmit)="checkError(modify)" #modify="ngForm">
            <div class="col-md-12 mb-3">
                <label for="title">Titre</label>
                <input    type="text" 
                            [ngClass]="{'form-control': true, 'is-invalid': titleError}"
                            name="title"
                            [(ngModel)]="expense.title" >
            </div>
            <div class="col-md-12 mb-3">
                <label for="amount">Montant</label>
                <input    type="number" 
                            [ngClass]="{'form-control': true, 'is-invalid': amountError}"
                            name="amount"
                            [(ngModel)]="expense.amount" >
            </div>
            <div class="col-md-12 mb-3">
              <label for="type">Type</label>
              <select   [ngClass]="{'form-control': true}" 
                        name="type"
                        [(ngModel)]="expense.type" >
                        <option value="0">Fixe</option>
                        <option value="1">Autre</option>
              </select>
            </div>
            <div class="col-md-12 mb-3">
              <label for="date">Date</label>
              <input    type="date" 
                        [ngClass]="{'form-control': true}"
                        name="date"
                        [ngModel] ="expense.date | date:'yyyy-MM-dd'">
            </div>
            <div class="col-12">
              <button *ngIf="loading" type="submit" class="btn btn-primary" disabled>Veuillez patienter ...</button>
              <button *ngIf="!loading" type="submit" class="btn btn-primary">Enregistrer</button>
              <button class="btn btn-secondary ml-1" (click)="backToList()">Retour</button>
            </div>
        </form>
      </app-card>
    </div>
  </div>
  