<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Vos voiture'">
        <div class="row col-12 mb-3">
          <div class="col-2">
            <label for="searchbar" class="col col-form-label">Recherche</label>
          </div>
          <div class="col">
            <input (keyup)="onSearch(search.value)" type="text" class="form-control" id="searchbar" #search="ngModel" ngModel>
          </div>
          <div class="col align-items-end">
            <button type="button" 
              class="btn btn-success"
              (click)="depositNew()"><i class="icofont icofont-plus"></i>Déposer nouvelle voiture</button>
          </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                <th>Immatriculation</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Déposer la voiture</th>
                <th>Réparations de la voiture</th>
                <th>Historique de réparation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{car.immatriculation}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.model}}</td>
                    <td class="align-middle">
                      <button *ngIf="!car.status.parked" type="button" 
                              class="btn btn-primary"
                              (click)="deposit(car)">Déposer</button>
                      <button *ngIf="car.status.parked && !car.status.requested" type="button" 
                              class="btn btn-primary"
                              (click)="exitRequest(car.immatriculation)">Récuperer</button>
                      <button *ngIf="car.status.parked && car.status.requested" type="button" 
                              class="btn btn-disabled" disabled>En cours de validation</button>
                    </td>
                    <td class="align-middle">
                        <button type="button" 
                                class="btn btn-primary"
                                (click)="repair(car.immatriculation)"
                                [disabled]="!car.status.parked">Réparations</button>
                    </td>
                    <td class="align-middle">
                        <button type="button" 
                                class="btn btn-primary"
                                (click)="history(car.immatriculation)">Historique</button>
                    </td>
                </tr>
            </tbody>
          </table>
          <!-- <button class="btn btn-success waves-effect" (click)="addToast({title:'Default Toasty', msg:'Turning standard Bootstrap alerts into awesome notifications', timeout: 5000, theme:'default', position:'bottom-right', type:'success'})">Success</button> -->
      </app-card>
    </div>
  </div>
  <!-- <ng2-toasty position="top-center"></ng2-toasty> -->