<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Vos voiture'">
        <div class="row col-8 mb-3">
          <label for="searchbar" class="col col-form-label">Recherche</label>
          <div class="col">
            <input (change)="onSearch(search.value)" type="text" class="form-control" id="searchbar" #search="ngModel" ngModel>
          </div>
          <div class="col">
            <button type="button" 
              class="btn btn-primary"
              (click)="onSearch(search.value)">Rechercher</button>
          </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                <th>Immatriculation</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Déposer la voiture</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{car.immatriculation}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.model}}</td>
                    <td class="align-middle">
                        <button type="button" 
                                class="btn btn-primary"
                                (click)="deposit(car)">Déposer</button>
                    </td>
                </tr>
            </tbody>
          </table>
      </app-card>
    </div>
  </div>