<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Réparations de la voiture'">
        <div *ngIf="!loading">
            <p>Marque: {{data.brand}}</p>
            <p>Modèle: {{data.model}}</p>
            <p>Immatriculation: {{data.immatriculation}}</p>
            <table class="table">
                <thead>
                    <tr>
                    <th>Réparation</th>
                    <th>Prix</th>
                    <th>Remarque</th>
                    <th>Progression</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repair of data.repairs;let index = index">
                        <td>{{repair.name}}</td>
                        <td>{{repair.price}}</td>
                        <td>{{repair.remark}}</td>
                        <td>
                          <div class="progress" role="progressbar" aria-label="Repair progression" [aria-valuenow]="repair.progression" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" [ngStyle]="{'width': repair.progression+'%'}">{{repair.progression}}%</div>
                        </div>
                        </td>
                    </tr>
                </tbody>
              </table>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button *ngIf="!sendLoading" (click)="validate()" class="btn btn-primary me-md-2" type="button">Valider la sortie</button>
                <button *ngIf="sendLoading" class="btn me-md-2 btn-disabled" type="button" disabled>Veuillez patienter ...</button>
            </div>
        </div>
      </app-card>
    </div>
  </div>